#color-collection{
    padding: 0 0 170px;
}
#color-collection .container:after {
  content: '';
  display: table;
  clear: both;
}
#color-collection .left-side{
    width: 60%;
    display: inline-block;
    float: left;
    text-align: center;
}
#color-collection .left-side img{
    width: 101%;
    display: inline-block;
    float: left;
    margin-left: -100px;
    margin-top: -130px;
}
#color-collection .right-side{
    width: 40%;
    display: inline-block;
    float: left;
}
#color-collection .right-side .swatch-area{
    background: white;
    padding: 18px 27px;
    display: inline-block;
    border-radius: 55px;
    margin-top: 140px;
    margin-bottom: 40px;
    margin-left: 40px;
}
#color-collection .right-side .swatch-area:box-shadow-down {
  content: '';
  display: table;
  clear: both;
}
#color-collection .right-side .swatch-area .circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 20px;
}
#color-collection .right-side .swatch-area .circle:nth-child(1){
    background: linear-gradient(135deg, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#color-collection .right-side .swatch-area .circle:nth-child(2){
    background: linear-gradient(135deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#color-collection .right-side .swatch-area .circle:nth-child(3){
    background: linear-gradient(to bottom, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-right: 0;
}
#color-collection .right-side{
    width: 40%;
    display: inline-block;
    float: left;
}
#color-collection .right-side:after {
  content: '';
  display: table;
  clear: both;
}
#color-collection .right-side .info-box{
    max-width: 360px;
    width: 100%;
    background: white;
    padding: 40px 20px;
    display: inline-block;
    text-align: center;
    margin-left: 40px;
}
#color-collection .right-side .info-box h2{
    font-size: 2rem;
}
#color-collection .right-side .info-box h2 span{
    display: block;
    text-align: center;
}
#color-collection .right-side .info-box h2 span.orange{
    color: #FEA83B;
    font-weight: 100;
}
#color-collection .right-side .info-box h2 span.blue{
    color: #6066F2;
}
#color-collection .right-side .info-box h2 span.purple{
    color: #B286F8;
    font-weight: 100;
}
#color-collection .right-side .info-box p{
    color: #aaacaf;
    font-size: .8rem;
    margin: 40px 0;
}
#color-collection .right-side .info-box a{
    color: #6066F2;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin: 40px 0 20px;
    display: block;
}
#color-collection .right-side .info-box .line{
    height: 2px;
    width: 50px;
    background: #B286F8;
    display: inline-block;
}
#color-collection .right-side .color-slider{
    position: relative;
    width: 20px;
    height: 640px;
    border-radius: 40px;
    margin-left: 85px;
    background: linear-gradient(to bottom, #ff3232 0%,#ff9f32 16%,#f4ff32 28%,#47ff32 44%,#30fff8 62%,#3033ff 82%,#d428ff 88%,#ff0004 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#color-collection .right-side .color-slider .picker{
    width: 20px;
    height: 20px;
    border: 10px solid #fff;
    border-radius: 50%;
    background: #FEA83B;
    box-sizing: content-box;
    position: absolute;
    top: 200px;
    left: -10px;
}

#color-collection .right-side .col-1{
  float: left;
  width: 80%; 
}
#color-collection .right-side .col-2{
   float: left;
  width: 20%; 
}
