#latest {
  padding: 50px 0;
}
#latest .header {
  padding: 50px 0;
}
#latest .header:after {
  content: '';
  display: table;
  clear: both;
}
#latest .header h1 {
  color: #6066f2;
  font-size: 4.2rem;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  float: left;
}
#latest .header .directions {
  display: inline-block;
  float: right;
  position: relative;
  top: 35px;
}
#latest .header .directions .move-left {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
  padding: 20px 70px;
  font-size: 3rem;
  background: #6066f2;
  color: white;
  border: 1px solid #6066f2;
}
#latest .header .directions .move-right {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  padding: 20px 70px;
  font-size: 3rem;
  background: white;
  color: #cecece;
  border: 1px solid #cecece;
}
#latest .body {
  padding: 100px 0;
}
#latest .body:after {
  content: '';
  display: table;
  clear: both;
}
#latest .body .column {
  width: 33.33%;
  float: left;
  padding: 0 15px;
  text-align: center;
}
#latest .body .column:nth-child(1) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: linear-gradient(
    135deg,
    #e04e4e 0%,
    #1e5799 49%,
    #db57c3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}
#latest .body .column:nth-child(2) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: linear-gradient(
    135deg,
    #5047cc 0%,
    #4ad6d1 49%,
    #db57c3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}
#latest .body .column:nth-child(3) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: linear-gradient(
    135deg,
    #ff5959 0%,
    #c7ce48 49%,
    #823434 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}
#latest .body .column:nth-child(1) .bg-square img {
  width: 105%;
  position: absolute;
  top: -36%;
  left: -10%;
  height: 126%;
  filter: drop-shadow(5px 24px 14px rgba(0, 0, 0, 0.25));
}
#latest .body .column:nth-child(2) .bg-square img {
  width: 80%;
  height: 124%;
  position: absolute;
  top: -34%;
  left: 2%;
  filter: drop-shadow(5px 24px 14px rgba(0, 0, 0, 0.25));
}
#latest .body .column:nth-child(3) .bg-square img {
  width: 80%;
  height: 115%;
  position: absolute;
  top: -27%;
  left: 4%;
  filter: drop-shadow(5px 24px 14px rgba(0, 0, 0, 0.25));
}
#latest .body .column:nth-child(1) .bg-square .cart {
  width: 94px;
  height: 94px;
  border: 10px solid white;
  position: absolute;
  top: -47px;
  right: -47px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #e04e4e 0%,
    #1e5799 49%,
    #db57c3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
}
#latest .body .column:nth-child(2) .bg-square .cart {
  width: 94px;
  height: 94px;
  border: 10px solid white;
  position: absolute;
  top: -47px;
  right: -47px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #5047cc 0%,
    #4ad6d1 49%,
    #db57c3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
}
#latest .body .column:nth-child(3) .bg-square .cart {
  width: 94px;
  height: 94px;
  border: 10px solid white;
  position: absolute;
  top: -47px;
  right: -47px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #ff5959 0%,
    #c7ce48 49%,
    #823434 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
}
#latest .body .column .bg-square .cart .fas {
  font-size: 2rem;
  position: relative;
  top: 22px;
  left: -3px;
}
#latest .body .column .line {
  width: 20%;
  height: 2px;
  background: #6066f2;
  margin: 50px auto;
  display: inline-block;
}
#latest .body .column .price {
  color: #fea83b;
  font-weight: 700;
  font-size: 2.3rem;
}
#latest .footer {
  text-align: center;
  position: relative;
}
#latest .footer img {
  width: 40%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 30%;
  filter: grayscale(100%) invert(100%);
  opacity: 0.1;
  transform: rotate(20deg);
}
#latest .footer .info-box {
  position: relative;
  z-index: 2;
  padding: 200px 0;
}
#latest .footer .info-box h2 {
  color: #6066f2;
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 60px;
}
#latest .footer .info-box form {
  vertical-align: top;
  display: inline-block;
  margin: 0 auto;
}
#latest .footer .info-box .input-area {
  background: white;
  border-radius: 50px;
  display: inline-block;
  padding: 10px;
  float: left;
}
#latest .footer .info-box .input-area .far {
  font-size: 2rem;
  position: relative;
  top: 7px;
  margin-left: 15px;
  color: #d5e2ea;
}
#latest .footer .info-box .input-area:nth-child(1) {
  height: 80px;
  margin-right: 50px;
}
#latest .footer .info-box .input-area input {
  background: white;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 220px;
}
#latest .footer .info-box .input-area:nth-child(1) input {
  position: relative;
  top: 8px;
}
#latest .footer .info-box .input-area:nth-child(1) .far {
  position: relative;
  top: 14px;
}
#latest .footer .info-box .input-area button {
  background: #6066f2;
  border: none;
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 35px;
}
/* Laptops Devices */
@media only screen and (max-width: 1215px) {
  #latest .body .column:nth-child(1) .bg-square,
  #latest .body .column:nth-child(2) .bg-square,
  #latest .body .column:nth-child(3) .bg-square {
    margin: 0 auto;
  }
  #latest .footer .info-box {
    padding: 150px 0;
  }
}
/* Tablet Devices */
@media only screen and (max-width: 1023px) {
  #latest .body {
    margin-bottom: -225px;
  }
  #latest .header h1 {
    font-size: 3.5rem;
  }
  #latest .header .directions {
    top: 18px;
  }
  #latest .body .column {
    width: 50%;
    margin-bottom: 150px;
  }
  #latest .footer img {
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 30%;
    filter: grayscale(100%) invert(100%);
    opacity: 0.1;
    transform: rotate(20deg);
  }
  #latest .footer .info-box form {
    width: 80%;
  }
  #latest .footer .info-box .input-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #latest .footer .info-box .input-area input[type='email'] {
    float: left;
    width: 50%;
    position: relative;
    top: 12px;
  }
  #latest .footer .info-box .input-area button {
    background: #6066f2;
    padding: 20px 0;
    font-size: 1rem;
    width: 35%;
    float: left;
  }
  #latest .footer .info-box .input-area:nth-child(1) {
    margin: 0;
    width: 50%;
  }
  #latest .footer .info-box .input-area:nth-child(1) input {
    margin: 0;
    width: 80%;
  }
  #latest .footer .info-box .input-area:nth-child(2) {
    margin: 0;
    width: 50%;
  }
}
/* Mobile Devices */
@media only screen and (max-width: 767px) {
  #latest .header {
    text-align: center;
  }
  #latest .header h1 {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    max-width: none;
  }
  #latest .header .directions {
    display: inline-block;
    float: none;
    position: static;
    margin: 50px auto;
    top: 0;
  }
  #latest .body .column {
    width: 100%;
    margin-bottom: 150px;
  }
  #latest .body .column:nth-child(1) .bg-square,
  #latest .body .column:nth-child(2) .bg-square,
  #latest .body .column:nth-child(3) .bg-square {
    transform: scale(0.8);
    margin: 0 auto;
  }
  #latest .footer .info-box .input-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #latest .footer .info-box .input-area input[type='email'] {
    float: left;
    width: 50%;
    position: relative;
    top: 12px;
  }
  #latest .footer .info-box .input-area button {
    background: #6066f2;
    padding: 20px 0;
    font-size: 1rem;
    width: 35%;
    float: left;
  }
  #latest .footer .info-box .input-area:nth-child(1) {
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
  }
  #latest .footer .info-box .input-area:nth-child(2) {
    margin: 0;
    width: 100%;
    height: 80px;
  }
}
