#top-jumbo {
  padding: 0 0 400px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+40,8948f2+77,e0a1df+100 */
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #ffffff 40%,
    #8948f2 77%,
    #e0a1df 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#top-jumbo:after {
  content: '';
  display: table;
  clear: both;
}

#top-jumbo .left-side {
  width: 40%;
  display: inline-block;
  float: left;
}
#top-jumbo .left-side .large-number {
  font-size: 275px;
  font-weight: 700;
  opacity: 0.025;
  color: #4c44c1;
  position: relative;
  left: -22px;
  top: 0;
  z-index: 1;
}
#top-jumbo .left-side .info-container {
  position: relative;
  top: -100px;
}
#top-jumbo .left-side .info-container h1 {
  font-size: 3.5rem;
  color: #6066f2;
  margin-bottom: 1.5rem;
}
#top-jumbo .left-side .info-container p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #aaacaf;
  margin-bottom: 1.5rem;
}
#top-jumbo .left-side .info-container .email-area {
  background: white;
  border-radius: 50px;
  display: inline-block;
  padding: 10px;
}
#top-jumbo .left-side .info-container .email-area .far {
  font-size: 2rem;
  position: relative;
  top: 7px;
  margin-left: 15px;
}
#top-jumbo .left-side .info-container .email-area input[type='email'] {
  background: white;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 220px;
}
#top-jumbo .left-side .info-container .email-area button {
  background: #6066f2;
  border: none;
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 35px;
}
#top-jumbo .right-side {
  width: 60%;
  display: inline-block;
  float: left;
  padding: 0 40px;
}
#top-jumbo .right-side img {
  width: 100%;
}
